/*-----------------------------------*/
.header{
    width: 100vw;
    height: 20vh;
}

.footer{
    width: 100vw;
    height: 20vh;
}

body .main_pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10%;
}

.main_pesquisa .resultado{
    background-color: var(--roxo);
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin-bottom: 3%;
    border-radius: 1%;
}

.main_pesquisa .resultado p{
    padding: 1%;
    font-size: 2.5vw;
    font-family: "Roboto", sans-serif;
}

/*-----------------------------------*/
body .sec_pesquisa{
    background-color: var(--roxo);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

/*-----------------------------------*/
.sec_pesquisa .menu_area{
    background-color: var(--cinza-escuro);
    display: flex;
    flex-direction: column;
    width: 33%;
    height: auto;
}

.menu_area .filtro{
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    padding: 1%;
}

/*-------------------------------------------*/
.sec_pesquisa .conteudo_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

.conteudo_area .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin: 1% 0%;
    padding: 1% 0%;
    border-bottom: var(--branco) dotted 0.01vw;
}

.container .article_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.container .article_right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 65%;
    height: 100%;
}

.article_left img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.article_left .preco{
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.5vw;
}

.article_right .obra{
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
    border-radius: 2%;
    padding: 1%;

}

.right_nome{
    background-color: var(--branco);
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    width: 100%;
    border-radius: 2%;
}

.obra .right_autor{
    background-color: var(--branco);
    font-family: "Roboto", sans-serif;
    font-size: 0.9vw;
    border-radius: 2%;
}

.article_right .right_sinopse{
    background-color: var(--branco);
    height: 35%;
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
    padding: 1%;
    border-radius: 2%;
}

.article_right .right_botao{
    height: 20%;
    font-size: 2vw;
    border-radius: 2%;
}

.article_right .right_botao :hover{
    text-decoration: none;
    color: var(--roxo);
    font-size: 1.75vw;
}
