:root {
    --preto: #050805;
    --branco: #e9f5e9;
    --roxo: #2f184e;
    --cinza-claro: #777d77;
    --cinza-escuro: #394039;
}

* {
    color: var(--branco);
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: var(--preto);
}

body .main_pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0%;
}

.main_pesquisa .resultado{
    background-color: var(--cinza-escuro);
    width: 50vw;
    height: 10vh;
    margin-bottom:1%;
}

body .art_pesquisa{
    background-color: var(--roxo);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    height: auto;
}

.art_pesquisa .article1{
    background-color: var(--cinza-escuro);
    width: 33%;
    height: auto;
}

.art_pesquisa .article2{
    background-color: var(--cinza-escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: auto;
}

.article2 .container{
    background-color: var(--cinza-claro);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 25vh;
    margin: 1% 0%;
}

.container .section_left{
    background-color: red;
    width: 35%;
    height: 90%;
    margin: 1%;

}

.container .section_right{
    background-color: blue;
    width: 70%;
    height: 90%;
    margin: 1%;
}