:root {
    --preto: #050805;
    --branco: #e9f5e9;
    --roxo: #2f184e;
    --cinza-claro: #777d77;
    --cinza-escuro: #394039;
}

* {
    color: var(--branco);
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: var(--preto);
}

.txt {
    color: var(--preto);
}

body .container_login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin-bottom: 20vh;
}

.container_login .formulario_login{
    background-color: var(--roxo);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 80%;
    margin: 1% 0%;
    border-radius: 1%;
}

.formulario_login .entrar {
    font-family: "Roboto", sans-serif;
    font-size: 3vw;
    margin: 5% 0%;
}

.formulario_login .container_form2{
    width: 70%;
    height: 5vh;
    margin-bottom: 7%;
}

.container_form2 input{
    width: 100%;
    height: 4vh;
    border-radius: 2%;
}

.formulario_login .desc2{
    font-size: 1.1vw;
    font-family: "Poppins",sans-serif;
    margin-bottom: 2%;
}

.formulario_login input{
    font-size: 0.9vw;
    padding: 3%;
    outline: none;
}

.formulario_login .botao_logar{
    width: 40%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-top: 5%;
}

.formulario_login .botao_logar a{
    text-decoration: none;
}

.formulario_login .botao_logar :hover{
    font-size: 0.9vw;
    color: var(--roxo);
}

.cadastro_area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    width: 100%;
}

.cadastro_area .desc3{
    font-size: 0.9vw;
    margin-right: 5%;
}

.cadastro_area .botao_cadastro{
    background-color: transparent;

}

.botao_cadastro a{
    text-decoration: none;
    color: #2A5DB0;
    font-family: "Roboto", sans-serif;
    font-size: 0.9vw;
}

.botao_cadastro a:hover{
    color: var(--branco);
}

